<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-application-updater"
        version="0.7.2">

    <name>ApplicationUpdater</name>

    <description>Install apk file given remote url.</description>

    <repo>https://github.com/wspresto/android-application-updater.git</repo>

    <keywords>update, application</keywords>

    <license>Apache 2.0</license>

    <author>wspresto</author>

    <!-- dependencies -->
    <dependency  id="cordova-plugin-appversion" version="1.0.0" />

    <!-- js -->
    <js-module src="www/ApplicationUpdater.js" name="ApplicationUpdater">
        <clobbers target="ApplicationUpdater" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ApplicationUpdater">
                <param name="android-package" value="com.application.plugins.android.ApplicationUpdater"/>
                <param name="onload" value="true" />  <!-- Must Have -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
        </config-file>

        <source-file
            src="src/android/DownloadThread.java"
            target-dir="com/application/plugins/android" />
        <source-file
            src="src/android/ApplicationUpdater.java"
            target-dir="com/application/plugins/android" />
        <source-file
            src="src/android/UpdateController.java"
            target-dir="com/application/plugins/android" />            
    </platform>

</plugin>